body {
  box-sizing: border-box;
}

#app {
  padding: 0 20px;
  margin: auto;
}

#intro {
  margin-top: 2%;
}

.floor-header {
  display: flex;
  justify-content: space-between;
}

.floor-title-div {
  width: 100%;
  margin: auto;
  text-align: center;
}

.floor-title {
  margin: 0;
}
/* Container floors */
#floors-container {
  display: flex;
  flex-wrap: wrap;
}

.ar-floor {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  flex: 0 0 50%;
  padding: 10px;
}

.floor-divider {
  border-right: 3px solid black;
}

/* Station cards */
.card {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #00E676;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flow-text {
  margin: 0;
  padding: 0;
}

.clear-margin {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.card:hover {
  cursor: pointer;
}

.med-timer {
  background: #f5cc14
}

.high-timer {
  background: #ff330f
}

.remove-space {
  margin-bottom: 0;
}

.border-right {
  border-right: 3px solid black;
}

.border-left {
  border-left: 3px solid black;
}

.p3-half {
  border-left: 3px solid black;
}

.p4-half {
  border-left: 3px solid black;
}

.text-flow2 {
  font-size: 1.1rem;
}

.fixed-action-btn {
  top: 2px;
}

#brand-logo {
  font-size: 4rem;
}

.text-green {
  color: green;
}

.hide_default {
  display: none;
}

.text-end {
  text-align: right;
}

#p1, #p2, #p3, #p4 {
  height:100vh;
  overflow: hidden;
}

.bordered {
  border: 3px solid black;
}

.card p {
  padding: 0;
  margin: 0;
}

.card__badge {
  position: absolute;
  background-color: black;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  color: white;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}