#intro {
    margin-top: 2%;
}
.round { 
    border-radius: 5px; 
}
.remove-space {
    margin-bottom: 0;
    
}
.p3-half {
    border-left: 3px solid black;
}

.p4-half {
    border-left: 3px solid black;
}

.text-flow2 {
    font-size: 1.1rem;
}

.fixed-action-btn {
    top: 2px;
}

#brand-logo {
    font-size: 4rem;
}

.strong {
    font-size: 1rem;
    color: green;
}

.hide_default {
    display: none;
}